<% frame_id = dom_id(post, "post_turbo_frame") %>
<%= form_with model: post, data: { turbo_frame: frame_id } do %>
  <%= turbo_frame_tag frame_id do %>
    <h1>
      <%= post.title %>
    </h1>

    <p>
      <%= post.body %>
    </p>
    <%= link_to "Edit", edit_post_path(post) %>
  <% end %>
<% end %>